<div class="split1 left">
  <div class="centered">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="DASHBOARD">DASHBOARD</mat-tab>
      <mat-tab label="LIVE AUCATION">LIVE AUCATION</mat-tab>
      <mat-tab label="TRENDS">TRENDS</mat-tab>
    </mat-tab-group>
  </div>
</div>

<div class="split2 right">
  <div class="centered">
    <div class='content-wrapper'>
    <div class='navmenu'>
      <nav id='navbar' itemprop='mainEntity' itemscope='itemscope' itemtype='https://schema.org/SiteNavigationElement'>
        <div class='navbar'>
            <span itemprop='name'>STOX SEARCH</span>
        </div>
    <input class="inp" name='q' placeholder='Search here...' size='15' type='text'/>
    <input class="btn" type='submit' value='Stox Search'/>
    <div class="user_menu">
      <mat-icon class="user_icon">account_circle</mat-icon>
      <span>{{username}}</span>
      <mat-icon class="expand_icon">expand_more</mat-icon>
      <mat-menu [class]="'user_menu_overlay'" #menu="matMenu">
          <span class="material-icons collapse_icon">expand_less</span>
      </mat-menu>
    </div>
    </nav>
    </div>
    <div *ngIf="!confirmation">
    <!-- <div class="box" *ngFor="let s of orderlist.order">
      <div class="col-4">
        <img class="img1" src="../../assets/Naruto.jpg" alt="movere-url"/>
      </div>
      <div class="col-5">
        <div>{{s.description}}</div>
        <div class="dis">
        <span class="t-1" style=" background: #baa128;">{{s.type[0].Tops}}</span>
        <span class="t-1" style=" background: #cac9c6;">{{s.type[0].Chrome}}</span>
        <span class="t-1" style=" background: #6bc660;">{{s.type[0].Rooike}}</span>
        <span class="t-1" style=" background: #be712f;">{{s.type[0].Trender}}</span>
        </div>
      <div class="seller">{{s.Seller}}</div>
      <a href="#">view listing details</a>
      <button class="delete-item" (click)="remove(0)">remove item</button>
      </div>
      <div class="col-3">
        <div>Quantity: {{s.Quantity}}</div>
        <div> Shipping <span>${{s.Shipping}} Standard Shipping</span>
        </div>
      </div>
      <div>
        <h3>USD : $ {{s.USD}}</h3>
      </div>
    </div> -->
    <!-- <div class="box1 split" *ngFor="let s of orderlist.order let l = count">
      <div>
        <span class="t-1" style=" background: #282538;">Shopping Cart Summary</span>
        <span>Item({{l}})</span>
        <table class="blocked">
          <tr>
            <td>SUB-TOTAL</td>
            <td class="val"><span *ngIf="cost!=0">USD&emsp;</span>${{cost}}</td>
          </tr>
          <tr>
            <td>SHIPPING</td>
            <td class="val"><span *ngIf="shipping!=0">USD&emsp;</span>{{shipping}}</td>
          </tr>
          <tr>
            <td>TAX</td>
            <td class="val"><span *ngIf="tax!=0">USD&emsp;</span>{{tax}}</td>
          </tr>
          <tr>
          </tr>
          <tr>
          </tr>
          <tr>
          </tr>
          <tr>
            <td>TOTAL</td>
            <td class="val">USD&emsp;${{cost+shipping+tax}}</td>
          </tr>
        </table>
        <button class="btn1" (click)="proceed()">PROCEED NEXT ></button>
    </div>
    </div> -->
    </div>
    <!-- <div *ngIf="confirmation">
      <div class="conf-box">
        <div class="col-5"><span class="t-1" style=" background: #282538;">PAYMENT CONFIRMATION</span>
          <div class="info">
            <span>THANKS FOR YOUR ORDER!</span>
            <p>{{text| uppercase}}</p>
           <div> <p>{{textnew|uppercase}}</p>
            <p>{{share|uppercase}}
            <a href="" class="social-icon"> <i class="fa fa-facebook"></i></a>
            <a href="" class="social-icon"> <i class="fa fa-twitter"></i></a>
            <a href="" class="social-icon"> <i class="fa fa-instagram"></i></a>
            </p></div>
            </div>
            <div style="display: flex; margin-left: 265px;">
              <button class="cont-item" (click)="continue()">continue shopping</button>
              <button class="delete-item" (click)="cancel()">cancel my order</button>
            </div>
        </div>
        </div>

    </div> -->
</div>
</div>
</div>


