@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  word-spacing: 3px;
  letter-spacing: 1px;
}

.split2 {
  height: 100%;
  width: 80%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.split1 {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #00FFA4;
}

.right {
  right: 0;
  background-color: #282538;
}

.centered {
    color: white;
    font-family: fantasy;
    word-spacing: 3px;
    letter-spacing: 1px;
    font-size: 15px;
    font-style: italic;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

mat-tab-group{
  position: fixed;
    margin-left: 40px;
    text-align: justify;
    margin-top: 50px;
    line-height: 30px;
    cursor: pointer;
}

mat-tab {
  display: flex;
		position: relative;
		flex-direction: column;
}

.box .img1{
  border: solid;
  margin: 5px 5px;
  width: 120px;
  height: 155px;
  border-radius: inherit ;
}

.box{
  display: flex;
  height: 170px;
  width: 600px;
  margin: 30px 50px;
  background-color: #4b5555;
}

.box1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  height: 240px;
  width: 250px;
  margin: 30px 50px;
  background-color: #4b5555;
}

.blocked{
  margin-top: 20px;
}

.val{
  text-align: end;
}

table{
  width: 100%;
}
.split{
    position: fixed;
    top: 0;
    padding-top: 20px;
    margin-left: 700px;
    margin-top: 71px;

}

.col-4{
  width: 130px;
}
.col-5{
  margin: 10px;
}
.col-3{
  font-family: ui-serif;
  font-size: 12px;
  padding: 55px 2px 55px;
}
.col-3 div{
  padding: 10px;
}

div h3{
  margin: 45px 20px 1px 5px;
  font-size: small;
    font-family: none;
}

.col-3 div span{
  display: block;
}
.dis{
  display: flex;
  padding: 2px;
}
.t-1{
    margin: 2px;
    border-radius: 2px;
    color: black;
    font-family: fantasy;
    font-style: oblique;
    padding: 0px 6px 0;
}
a{
  font-family:'Courier New', Courier, monospace;
  color: white;
  font-size: 12px;
}
.seller{
    margin-top: 20px;
    font-size: 13px;
}

.delete-item{
  display: block;
  background: none!important;
  border: none;
  font-family:'Courier New', Courier, monospace;
  color: red;
  font-size: 12px;
  padding-top: 20px;
  cursor: pointer;
}

nav{
  display: flex;
}

.navbar span{
  padding: 1px 12px;
}

.inp{
  border-width: inherit;
  border-radius: 2px;
  padding: 1px 150px;
}
.btn{
    margin-left: 30px;
    background-color: #282538;
    /* border-radius: 3px; */
    border: solid;
    color: #2ad930;
    padding: 1px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 16px;
    transform: skew(-15deg); */
}

.user_menu {
  display: flex;
  align-items: center;
}
  .user_icon {
    width: auto;
    height: auto;
    padding-left: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    vertical-align: sub;
  }

  .expand_icon {
    color: gray;
    font-size: 1rem;
    cursor: pointer;
    margin-right: -5px;
  }

.close_icon {
  color: #7a7976;
  font-size: 2rem;
  cursor: pointer;
  margin-right: -5px;
}

.btn1{
  margin: 30px 31px;
    background-color: #00FFA4;
    border: none;
    color: white;
    padding: 9px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.conf-box{
  display: flex;
  height: 300px;
  width: 800px;
  margin: 30px 50px;
  background-color: #4b5555;
}

.info{
    margin: 20px;
    text-align: center;
}

.info p{
  font-family: monospace;
  letter-spacing: revert;
  word-spacing: initial;
  font-size: 12px;
}
.fa-facebook {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-facebook:hover {
  background-color: #3d5b99;
}
.fa-twitter {
  padding:10px 12px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-twitter:hover {
  background-color: #00aced;
}
.fa-instagram {
  padding:10px 12px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-instagram:hover {
  background-color: #00aced;
}
.cont-item{
  display: block;
  background: none!important;
  border: none;
  font-family:'Courier New', Courier, monospace;
  color: #00FFA4;
  font-size: 12px;
  padding-top: 20px;
  cursor: pointer;
}
